
  ul.box-artist-view{
    padding: 0px;
    display: flex;
    list-style-type: none;
    li.day-artist{
      width: 30%;
      height: auto;
    }
    li.list-artist{
      width: 70%;
      height: auto;
      ul.cor{
        margin-top: 10px;
        list-style-type: none;
        display: flex;
        padding: 0px;
        li{
          img{
            cursor: pointer;
          }
          h5{
            padding: 0px;
            padding-left: 5px;
            font-size: 0.9em;
          }
        }
      }
    }
  }

.box-content-day-artist{
  .box-content-selector-day{
      @include size(100%, 95px);
      background-color: $color-secundary;
      .box-content-list-day{
        .box-content-item-number{
          float: left;
        }
        .box-content-item-day{
          float: left;
          padding: 25px 0px 0px 10px;
        }
        .box-content-item-flexa{
          padding-top: 40px;
          padding-left: 95%;
        }
      }
      .box-hr{
        padding-top: 20px;
      }
  }
  .box-content-selector-day:hover{
    .title-artists-days{
      color: $color-primavera-sound;
    }
    .title-artists-days{
      color: $color-primavera-sound;
    }
  }
}
.box-content-gallery-artist{
  @include size(100%, 100%);
  padding: 23px 0px 0px 0px;
  .box-content-box-artist{
    @include size(215px, 240px);
  }
}
.term-list {
  list-style: none inside;
  width: 85%;
  margin-top: 0px;
  padding: 5px 10px 0;
  text-align: left;
  @include font-style(500, 1.5em, $color-black, none);
}

.box-content-search-container{

  .box-content-search{
    float: right;
    @include size(460px, auto);
    border-bottom: 1px solid $color-hr;


    .search-field, .term-list {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }



  .title {
    width: 100%;
    margin: 3em 0 1em;
    text-align: center;
    font-family: "Arvo", "Helvetica Neue", Helvetica, arial, sans-serif;
    font-size: 170%;
    font-weight: 400;
    color: #2a5ba3;
    text-shadow: #fff 1px 1px 0px, #ddd 2px 2px, #ddd 3px 3px 1px;
  }

  .search-field {

    width: 85%;
    outline: none;
    padding: 0.5em 10px;
    border: 0px solid #999;
    @include font-style(700, 1.5em, $color-black, none);
  }

  .term-list {
    list-style: none inside;
    width: 95%;
    margin-top: 0px;
    padding: 5px 10px 0;
    text-align: left;
    @include font-style(500, 1.5em, $color-black, none);
  }
  .term-list li {
    padding: 0.5em 0;
    border-bottom: 1px solid #eee;
  }
  .term-list strong {
    color: #444;
    font-weight: 700;
  }
  .term-list{
      list-style: none inside;
      width: 442px;
      position: absolute;
      margin-top: 2px;
      background-color: white;
      padding: 5px 10px 0;
      text-align: left;
      font-weight: 500;
      font-family: "Assistant",sans-serif;
      font-size: 1.5em;
      color: #000;
  }
  .hidden {
    display: none;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-weight: 300;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-weight: 300;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-weight: 300;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-weight: 300;
  }
  }
}



.flex-container {
padding: 0;
margin: 0;
list-style: none;
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-flex-flow: row wrap;
justify-content: space-around;
}
.flex-item{
padding-bottom: 55px;
}
.alert-cor{
margin-bottom: 10px;
width: 60%;
height: 60px;
text-align: center;
background-color: #d20000;
}
.alert-cor h5{
color: white;
padding-top: 15px;
}
#anadidoCorect{
display: none;
}
